<!doctype html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <script src="/js/pagination.js"></script>
</head>
<body>
<div class="wrap main" layout:fragment="content">
    <form method="get" id="searchForm">
        <input type="hidden" name="page" id="page">
    </form>
    <section class="ItemList">
        <div class="PageTitle">
            <p class="font-weight-bold text-center">핸드폰 글 목록 더보기</p>
        </div>
        <div class="container">
            <div class="row row_box  bg-dark px-1 py-2 text-white">
                <div class="col my-1 ">
                    <strong>작성자</strong>
                </div>
                <div class="col my-1 ">
                    <strong>사진</strong>
                </div>
                <div class="col my-1 ma">
                    <strong>제목</strong>
                </div>
                <div class="col my-1">
                    <strong>판매가</strong>
                </div>
                <div class="col my-1">
                    <strong>판매여부</strong>
                </div>
                <div class="col my-1">
                    <strong>지역</strong>
                </div>
                <div class="col my-1">
                    <strong>조회수</strong>
                </div>
                <div class="col my-1">
                    <strong>등록일</strong>
                </div>
            </div>

            <div class="row row_box" th:each="list : ${phoneBoardList}">
                <div class="col my-1 col align-self-center" th:text="${list.memberEntity.nickName + '님'}">
                    작성자
                </div>
                <div class="col my-1">
                    <div class="listImg">사진 </div>
                </div>

                <div class="col my-1 col align-self-center ma">
                    <a th:text="${list.title}"
                       th:href="@{/phone/phoneView/(phoneId=${list.phoneId})}">제목</a>
                </div>
                <div class="col my-1 col align-self-center" th:text="${list.price+ '원'}">
                    판매가
                </div>
                <div class="col my-1 col align-self-center" th:text="(${list.sellYn}=='Y')?'판매완료':'판매중'">
                    판매여부
                </div>
                <div class="col my-1 col align-self-center" th:text="${list.location}">
                    지역
                </div>
                <div class="col my-1 col align-self-center" th:text="${list.viewCount}">
                    조회수
                </div>
                <div class="col my-1 col align-self-center" th:text="${list.formattedModifiedDate}">
                    등록일
                </div>
            </div>

            <!--페이지네이션-->
            <div class="pagination justify-content-center"
                 th:with="start=${T(java.lang.Math).floor(phonePagingList.number/10)}*10+1,end=((${phonePagingList.totalPages} == 0)?1 : ((${phonePagingList.totalPages} > ${start}+9) ? ${start}+9 : ${phonePagingList.totalPages}))">
                <!--이전-->
                <a th:if="${hasPrev}" th:onclick="'pagination('+${previous}+')'" role="button"
                   class="btn btn-lg bi bi-caret-left-square-fill"></a>
                <a th:unless="${hasPrev}" role="button"
                   class="btn btn-lg bi bi-caret-left-square-fill disabled"></a>
                <!--페이지 숫자-->
                <li th:each="pageNum : ${#numbers.sequence(start, end)}"
                    th:class="(${pageNum} == (${phonePagingList?.number}+1)) ? 'pagination_button page-item active' : 'pagination_button page-item'">
                    <a th:onclick="'pagination('+(${pageNum}-1)+')'" th:text="${pageNum}"
                       class="page-link" role="button"><span class="sr-only"></span></a>
                </li>
                <!--이후-->
                <a th:if="${hasNext}" th:onclick="'pagination('+${next}+')'" role="button"
                   class="btn btn-lg bi bi-caret-right-square-fill"></a>
                <a th:unless="${hasNext}" role="button"
                   class="btn btn-lg bi bi-caret-right-square-fill disabled"></a>
            </div>
        </div>
    </section>
</div>
</body>
</html>